@model IEnumerable<estadoManifiestos.Models.manifiesto>
@{
    ViewBag.Title = "Estados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Resultados de Zona de bsqueda-->
<div class="row rowItem">
    <div class="col">
        <div class="row">
            <form id="searchManifiesto" class="form-inline fomrBuscar">
                <div class="form-group mb-2">
                    <label for="staticEmail2">Buscar el siguiente manifiesto</label>
                </div>
                <div class="form-group mx-sm-3 mb-2">
                    <input type="text" class="form-control" name="manifiesto" id="inputManifiesto" placeholder="# manifiesto" required="required" maxlength="10" />
                </div>
                <button type="submit" class="btn btn-secondary mb-2">Buscar</button>
            </form>
        </div>
        <div class="row">
            <div id="cajatablasearch" class="col cajatabla visible">
                <button id="repeatSearch" class="btn btn-outline-dark mb-2" style="padding: 0;">
                    <img src="/Content/repeat.png" title="Hola" />Repetir consulta</button>
                <button id="clearSearch" class="btn btn-outline-dark mb-2" style="padding: 0;">
                    <img src="/Content/clear.png" title="Hola" />Limpiar consulta</button>
                <table id="tablaSearch" class="display">
                    <thead>
                        <tr>
                            <th>MANIFIESTO</th>
                            <th>FECHA</th>
                            <th>OFICINA</th>
                            <th>Min.TRANSPORTE</th>
                            <th>Dest. SEGURO</th>
                            <th>OSP</th>
                            <th>BAVARIA</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>

            </div>
        </div>
    </div>

</div>
<!--Zona de tabla de estados del manifiesto-->
<div class="row rowItem">
    <div class="col">
        <div class="row">
            <h3>Actividades recientes</h3>
            <div class="col col-resumesDates">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h5>Ultima actualización <span class="badge badge-info" style="width: auto;">@DateTime.Now.ToString("dd/MM/yyyy HH:mm:ss")</span></h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="p-timeProsc">Tiempo de respuesta: @ViewBag.T_tiempo Segundos</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col cajatabla table-responsive">
                <script type="text/javascript">
                    $(function () {
                        $('#table_id').DataTable({
                            "order": [[1, "desc"]],
                            "scrollY": "30rem",
                            "scrollCollapse": true
                        });
                    });
                </script>
                <table id="table_id" class="display">
                    <thead>
                        <tr>
                            <th>MANIFIESTO</th>
                            <th>FECHA</th>
                            <th>OFICINA</th>
                            <th>Min.TRANSPORTE</th>
                            <th>Dest. SEGURO</th>
                            <th>OSP</th>
                            <th>BAVARIA</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var manifiesto in Model)
                        {
                            <tr>
                                <td>@manifiesto.nroPlanilla</td>
                                <td>@manifiesto.fechaGen</td>
                                <td>@manifiesto.oficina</td>
                                <!--codigos de estado;1=enviado;2:pendiente;3:error;4:No catalogado-->
                                <!--****************Min. Trasporte****************-->
                                <td>
                                    @switch (manifiesto.estMinisterio)
                                    {
                                        case "E":
                                        <span class="badge badge-pill badge-success bagdEnviadoMt" data-toggle="collapse" href="@("#enMt" + manifiesto.nroPlanilla)" role="button" aria-expanded="false">Enviado</span>
                                        <div class="collapse" id="@("enMt" + manifiesto.nroPlanilla)">
                                        </div>
                                            break;
                                        case "P":
                                        <span class="badge badge-pill badge-warning bagdPendienteMt"  data-toggle="collapse" href="@("#pMt" + manifiesto.nroPlanilla)" role="button" aria-expanded="false">Pendiente</span>
                                        <div class="collapse" id="@("pMt" + manifiesto.nroPlanilla)">
                                            <div class="card card-body">
                                                <p>
                                                    Envío en proceso, el tiempo estimado de envió es de 5 minutos por favor espere, en caso de persistir este estado por favor
                                                <br />
                                                    <a href="@("mailto:soporte@transer.com.co?Subject=" + "Manifiesto " + manifiesto.nroPlanilla + " tarda en subir")">informar a sistemas</a>
                                                </p>
                                            </div>
                                        </div>   
                                            break;
                                        case "R":
                                        <span class="badge badge-pill badge-danger bagdRechazadoMt" data-toggle="collapse" href="@("#rcMt" + manifiesto.nroPlanilla)" role="button" aria-expanded="false">Rechazado</span>
                                        <div class="collapse" id="@("rcMt" + manifiesto.nroPlanilla)">
                                        </div>
                                            break;
                                        case "NC":
                                        <span class="badge badge-pill badge-danger bagdncMt" data-toggle="collapse" href="@("#nrMt" + manifiesto.nroPlanilla)" role="button" aria-expanded="false">No Catalogado</span>
                                        <div class="collapse" id="@("nrMt" + manifiesto.nroPlanilla)">
                                            <div class="card card-body">
                                                <p>
                                                    Error descnocido, por favor
                                                <br />
                                                    <a href="@("mailto:soporte@transer.com.co?Subject=" + "Manifiesto " + manifiesto.nroPlanilla + " retorna error desconocido para el ministerio")">informar a sistemas</a>
                                                </p>
                                            </div>
                                        </div>
                                            break;
                                        case "U":
                                        <span class="badge badge-pill badge-light bagdNaMt" data-toggle="collapse" href="@("#naMt" + manifiesto.nroPlanilla)" role="button" aria-expanded="false">Urbano</span>
                                        <div class="collapse" id="@("naMt" + manifiesto.nroPlanilla)">
                                            <div class="card card-body">
                                                <p>Los viajes urbanos no son reportados al Ministerio</p>
                                            </div>
                                        </div>
                                            break;

                                        case "NA":
                                        <span class="badge badge-pill badge-light bagdNaMt" data-toggle="collapse" href="@("#naMt" + manifiesto.nroPlanilla)" role="button" aria-expanded="false">No Aplica</span>
                                        <div class="collapse" id="@("prMt" + manifiesto.nroPlanilla)">
                                            <div class="card card-body">
                                                <p>Este viaje no se reporta al ministerio.</p>
                                            </div>
                                        </div>
                                            break;
                                    }
                                </td>
                                <!--****************Dest. Seguro****************-->
                                <td>
                                    @switch (manifiesto.estDestseguro)
                                    {
                                        case "E":
                                        <span class="badge badge-pill badge-success bagdEnviadoDs" data-toggle="collapse" href="@("#enDs" + manifiesto.nroPlanilla)" role="button" aria-expanded="false">Enviado</span>
                                        <div class="collapse" id="@("enDs" + manifiesto.nroPlanilla)">
                                        </div>
                                            break;
                                        case "P":
                                        <span class="badge badge-pill badge-warning bagdPendienteDs"  data-toggle="collapse" href="@("#pDs" + manifiesto.nroPlanilla)" role="button" aria-expanded="false">Pendiente</span>
                                        <div class="collapse" id="@("pDs" + manifiesto.nroPlanilla)">
                                            <div class="card card-body">
                                                <p>
                                                    Envío en proceso, el tiempo estimado de envió es de 5 minutos por favor espere, en caso de persistir este estado por favor
                                                <br />
                                                    <a href="@("mailto:soporte@transer.com.co?Subject=" + "Manifiesto " + manifiesto.nroPlanilla + " tarda en subir")">informar a sistemas</a>
                                                </p>
                                            </div>
                                        </div>   
                                            break;
                                        case "R":
                                        <span class="badge badge-pill badge-danger bagdRechazadoDs" data-toggle="collapse" href="@("#rcDs" + manifiesto.nroPlanilla)" role="button" aria-expanded="false">Rechazado</span>
                                        <div class="collapse" id="@("rcDs" + manifiesto.nroPlanilla)">
                                        </div>
                                            break;
                                        case "NC":
                                        <span class="badge badge-pill badge-danger bagdncDs" data-toggle="collapse" href="@("#nrDs" + manifiesto.nroPlanilla)" role="button" aria-expanded="false">No Catalogado</span>
                                        <div class="collapse" id="@("nrDs" + manifiesto.nroPlanilla)">
                                            <div class="card card-body">
                                                <p>
                                                    Error descnocido, por favor
                                                <br />
                                                    <a href="@("mailto:soporte@transer.com.co?Subject=" + "Manifiesto " + manifiesto.nroPlanilla + " retorna error desconocido para el ministerio")">informar a sistemas</a>
                                                </p>
                                            </div>
                                        </div>
                                            break;
                                        case "NA":
                                        <span class="badge badge-pill badge-light bagdnaDs" data-toggle="collapse" href="@("#naDs" + manifiesto.nroPlanilla)" role="button" aria-expanded="false">Propio</span>
                                        <div class="collapse" id="@("naDs" + manifiesto.nroPlanilla)">
                                            <div class="card card-body">
                                                <p>Los viajes con vehículos propios no se reportan a Destino Seguro.</p>
                                            </div>
                                        </div> 
                                            break;
                                    }

                                </td>
                                <!--****************OSP****************-->
                                <td>
                                    @switch (manifiesto.estOsp)
                                    {
                                        case "E":
                                        <span class="badge badge-pill badge-success bagdEnviadoOsp" data-toggle="collapse" href="@("#enOsp" + manifiesto.nroPlanilla)" role="button" aria-expanded="false">Enviado</span>
                                        <div class="collapse" id="@("enOsp" + manifiesto.nroPlanilla)">
                                        </div>
                                            break;
                                        case "P":
                                        <span class="badge badge-pill badge-warning bagdPendienteOsp"  data-toggle="collapse" href="@("#pOsp" + manifiesto.nroPlanilla)" role="button" aria-expanded="false">Pendiente</span>
                                        <div class="collapse" id="@("pOsp" + manifiesto.nroPlanilla)">
                                            <div class="card card-body">
                                                <p>
                                                    Envío en proceso, el tiempo estimado de envió es de 5 minutos por favor espere, en caso de persistir este estado por favor
                                                <br />
                                                    <a href="@("mailto:soporte@transer.com.co?Subject=" + "Manifiesto " + manifiesto.nroPlanilla + " tarda en subir")">informar a sistemas</a>
                                                </p>
                                            </div>
                                        </div>   
                                            break;
                                        case "R":
                                        <span class="badge badge-pill badge-danger bagdRechazadoOsp" data-toggle="collapse" href="@("#rcOsp" + manifiesto.nroPlanilla)" role="button" aria-expanded="false">Rechazado</span>
                                        <div class="collapse" id="@("rcOsp" + manifiesto.nroPlanilla)">
                                        </div>
                                            break;
                                        case "NC":        
                                        <span class="badge badge-pill badge-danger bagdncOsp" data-toggle="collapse" href="@("#nrOsp" + manifiesto.nroPlanilla)" role="button" aria-expanded="false">No Catalogado</span>
                                        <div class="collapse" id="@("nrOsp" + manifiesto.nroPlanilla)">
                                            <div class="card card-body">
                                                <p>
                                                    Error descnocido, por favor
                                                <br />
                                                    <a href="@("mailto:soporte@transer.com.co?Subject=" + "Manifiesto " + manifiesto.nroPlanilla + " retorna error desconocido para el ministerio")">informar a sistemas</a>
                                                </p>
                                            </div>
                                        </div>                                    
                                            break;
                                        case "T":
                                        <span class="badge badge-pill badge-light bagdnaOsp" data-toggle="collapse" href="@("#naOsp" + manifiesto.nroPlanilla)" role="button" aria-expanded="false">Tercero</span>
                                        <div class="collapse" id="@("naOsp" + manifiesto.nroPlanilla)">
                                            <div class="card card-body">
                                                <p>Los viajes con vehículos Terceros no se reportan a OSP.</p>
                                            </div>
                                        </div>
                                            break;
                                    }
                                </td>
                                <!--****************BAVARIA****************-->
                                <td>
                                    @*1:Eniado
                                2:Pendiente
                                3:Rechazado
                                4:No catalogado*@
                                    @switch (manifiesto.estBavaria)
                                    {
                                        case "E":
                                        <span class="badge badge-pill badge-success bagdEnviadoBav" data-toggle="collapse" href="@("#enBav" + manifiesto.nroPlanilla)" role="button" aria-expanded="false">Enviado</span>
                                        <div class="collapse" id="@("enBav" + manifiesto.nroPlanilla)">
                                        </div>
                                            break;
                                        case "P":
                                        <span class="badge badge-pill badge-warning bagdPendienteBav"  data-toggle="collapse" href="@("#pBav" + manifiesto.nroPlanilla)" role="button" aria-expanded="false">Pendiente</span>
                                        <div class="collapse" id="@("pBav" + manifiesto.nroPlanilla)">
                                            <div class="card card-body">
                                                <p>
                                                    Envío en proceso, el tiempo estimado de envió es de 5 minutos por favor espere, en caso de persistir este estado por favor
                                                <br />
                                                    <a href="@("mailto:soporte@transer.com.co?Subject=" + "Manifiesto " + manifiesto.nroPlanilla + " tarda en subir")">informar a sistemas</a>
                                                </p>
                                            </div>
                                        </div>   
                                            break;
                                        case "R":
                                        <span class="badge badge-pill badge-danger bagdRechazadoBav" data-toggle="collapse" href="@("#rcBav" + manifiesto.nroPlanilla)" role="button" aria-expanded="false">Rechazado</span>
                                        <div class="collapse" id="@("rcBav" + manifiesto.nroPlanilla)">
                                        </div>
                                            break;
                                        case "NC":        
                                        <span class="badge badge-pill badge-danger bagdncBav" data-toggle="collapse" href="@("#ncBav" + manifiesto.nroPlanilla)" role="button" aria-expanded="false">No Catalogado</span>
                                        <div class="collapse" id="@("ncBav" + manifiesto.nroPlanilla)">
                                            <div class="card card-body">
                                                <p>
                                                    Error descnocido, por favor
                                                <br />
                                                    <a href="@("mailto:soporte@transer.com.co?Subject=" + "Manifiesto " + manifiesto.nroPlanilla + " retorna error desconocido para el envió a Bavaria ")">informar a sistemas</a>
                                                </p>
                                            </div>
                                        </div>                                    
                                            break;
                                        case "NA":
                                        <span class="badge badge-pill badge-light bagdnaBav" data-toggle="collapse" href="@("#naBav" + manifiesto.nroPlanilla)" role="button" aria-expanded="false">No Bavaria</span>
                                        <div class="collapse" id="@("naBav" + manifiesto.nroPlanilla)">
                                            <div class="card card-body">
                                                <p>Solo se reportan los viajes del cliente Bavaria.</p>
                                            </div>
                                        </div>
                                            break;
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row rowItem">
    <div class="row">
        <div class="col">
            <a id="btnRefres" class="btn btn-secondary btn-lg btn-block" href="/">Refrescar información</a>
        </div>
    </div>
</div>

